Repository ultralytics/notebooks, pull requests merged in 2025-03, with the labels that each got.

#37 Update `SAM2` notebook
  notebooks/inference-with-meta-sam-and-sam2-using-ultralytics-python-package.ipynb
Labels: documentation

#38 Update solutions notebooks
  notebooks/how-to-count-the-objects-using-ultralytics-yolo.ipynb
  notebooks/how-to-generate-heatmaps-using-ultralytics-yolo.ipynb
  notebooks/how-to-monitor-workouts-using-ultralytics-yolo.ipynb
  notebooks/how-to-track-the-objects-in-zone-using-ultralytics-yolo.ipynb
Labels: solutions, track

#39 Add Florence-2 notebook
  README.md
  notebooks/how-to-use-florence-2-for-object-detection-image-captioning-ocr-and-segmentation.ipynb
Labels: enhancement, detect, segment

#40 Fix florence-2 notebook colab redirect
  notebooks/how-to-use-florence-2-for-object-detection-image-captioning-ocr-and-segmentation.ipynb
Labels: documentation, detect, segment

#41 Update GitHub banner redirect
  README.md
Labels: documentation

#42 Add `gemini-2.5-pro` notebook
  README.md
  notebooks/how-to-use-google-gemini-models-for-object-detection-image-captioning-and-ocr.ipynb
Labels: documentation, detect, segment

#43 Fix images display
  notebooks/how-to-use-google-gemini-models-for-object-detection-image-captioning-and-ocr.ipynb
Labels: documentation

#44 Ultralytics Refactor https://ultralytics.com/actions
  README.md
  docs/README.md
Labels: documentation, enhancement

#45 Add video support for florence-2 model
  README.md
  notebooks/how-to-use-florence-2-for-object-detection-image-captioning-ocr-and-segmentation.ipynb
Labels: documentation, detect, segment
